<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>3dBay</title>
    <link rel="stylesheet" href="/Content/Styles.css" />
</head>
<body>

    <div>
        <div id="header">
            <div class="title">3dBay - печать для вас!</div>
            <div class="headbuttons">
                <a href="@Url.Action("Index", "Home")" class="elements">Главная</a>
                @{
                    _3dBay2.Models.Repository.Repository repo = new _3dBay2.Models.Repository.Repository();
                    if (Session != null && Session["UserID"] != null)
                    {
                        <a href="@Url.Action("MyPage", "Account")" class="elements">Моя страница</a>
                        if (repo.GetUserByID((int)Session["UserID"]).IfCustomer)
                        {
                            <a href="/Pages/OrderCreation.aspx" class="register">Оформить заказ</a>
                        }
                        <a style="background-color: salmon; color: floralwhite;" href="/Account/LogOut">Выйти</a>
}
else
{
            <a href="/Pages/LoginPage.aspx">Войти</a>
            <a href="/Pages/RegisterPage.aspx" class="register">Зарегестрироваться</a>;
        }
                }

            </div>
        </div>

        <div id="maincontent">
            <h2>Добро пожаловать на 3dBay.com!</h2>
            <p>Мы - сервис для каждого, кто связан с 3d-печатью!</p>
            <p>Сделаем ее доступной и интересной каждому!</p>
            <table>
                <tr>
                    <td><a href='~/Pages/Listing.aspx'>Наши пользователи</a></td>
                    <td><a href='~/Pages/OrderListing.aspx'>Доска заказов</a></td>
                    <td><a href="@Url.Action("Contact", "Home")" class="elements">Связаться с нами</a></td>
                    <td><a href="@Url.Action("About", "Home")" class="elements">О нас</a></td>
                </tr>
            </table>


        </div>

    </div>

</body>
</html>
