body {
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
}

#header div.title, div.item h3, div.item h4, div.pager a {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

#header {
    background-color: #708090;
    border-bottom: 2px solid #111;
    color: white;
}
    #header div.title {
        width:50%;
        display: table-cell;
    }
    #header div.headbuttons {
       padding-left:150px;
        border-left:solid white;
        display: table-cell;
        text-align: center;
       
    }
    #header div.headbuttons a {
        font-size: 1.3em;
        color: floralwhite;
        text-decoration: none;
        padding: .5em .4em .5em .4em;
        background-color: #ffb841;
        height: 3em;
        margin-right: .5em;
    }
 #header div.headbuttons a:hover {
        background-color: Silver;
    }
    #header div.headbuttons a.register {
        background-color: darkcyan;
    }

    #header div.headbuttons a.selected, a.register.selected {
        background-color: #353535;
        color: white;
    }
    #header div.title {
        font-size: 2em;
        padding: .6em;
    }

#maincontent {
    padding: 1em;
    font: 1.3em "Arial Narrow","Franklin Gothic Medium",Arial;
    display: block;
}
#maincontent h2 {
    padding: .2em;
    font: 2em "Arial Narrow","Franklin Gothic Medium",Arial;
    color: #111;
    display: block;
    text-align: center;
}

#maincontent p {
    font: 1.6em "Arial Narrow","Franklin Gothic Medium",Arial;
    color: #111;
    display: block;
    text-align: center;
}
  
#maincontent table {
    border-spacing: 2em 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

    #maincontent table div {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #maincontent table td {
        width: 25%;
        text-align: center;
        vertical-align: middle;
        height: 1em;
    }

    #maincontent table th {
        width: auto;
        text-align: center;
        vertical-align: middle;
    }

#maincontent tr {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#maincontent a {
    width: 9em;
    font-size: 1.3em;
    color: floralwhite;
    text-decoration: none;
    padding: .5em .4em .5em .4em;
    background-color: #ffb841;
    height: 3em;
}
    #maincontent a:hover {
        background-color: Silver;
    }

    #maincontent a.selected {
        background-color: #353535;
        color: white;
    }


#person {
    padding: 1em;
    font: 1.3em "Arial Narrow","Franklin Gothic Medium",Arial;
    display: block;
}

    #person h2 {
        padding: .2em;
        font: 1.6em "Arial Narrow","Franklin Gothic Medium",Arial;
        color: #111;
        display: block;
        text-align: center;
    }

    #person p {
        font: 1em "Arial Narrow","Franklin Gothic Medium",Arial;
        color: #111;
        display: block;
        text-align: center;
    }

    #person table {
        border-spacing: 2em 1.5em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;

        
    }

        #person table div {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        #person table td {
            width: 25%;
            text-align: center;
            vertical-align: middle;
            height: 1em;
        }
            

        #person table th {
            width: auto;
            text-align: center;
            vertical-align: middle;
        }
    #person tr.border_bottom td {
        
      border-bottom: 0.5pt solid white;
    }
   

    #person a {
        width: 9em;
        font-size: 1.3em;
        color: floralwhite;
        text-decoration: none;
        padding: .4em 1em .4em 1em;
        background-color: #ffb841;
        height: 3em;
    }
    #person p.star {
        font: 2em "Arial Narrow","Franklin Gothic Medium",Arial;
        color: #111;
        display: block;
        text-align: center;
        float: left;
    }
    #person tr.greeting td {
        
        position: relative;
        left: 25%;
        
    }
    #person table td.stars:first-child {
        font: 2em "Arial Narrow","Franklin Gothic Medium",Arial;
        color: #111;
        display: block;
        text-align: center;
    }
    #person table td.stars
    {
        padding-left: 15%;
    }
    #person tr {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 2px solid silver;
    }
    #person a:hover {
        background-color: Silver;
    }

        #person a.selected {
            background-color: #353535;
            color: white;
        }



#content {
    
    margin-left: 6.7em;
    padding: 1em;
    font: 1.3em "Arial Narrow","Franklin Gothic Medium",Arial;
    display: block;
}
    #content h2 {
        padding: .2em;
        font: 2em "Arial Narrow","Franklin Gothic Medium",Arial;
        color: #111;
        display: block;
        text-align: center;
    }
    #content p {
       
        font: 1.6em "Arial Narrow","Franklin Gothic Medium",Arial;
        color: #111;
        display: block;
        text-align: center;
    }
    #content table {
        border-spacing: 2em 1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;
    }
        #content table div {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width:100%;
        }
        #content table td {
            width: 25%;
            text-align: center;
            vertical-align: middle;
            height: 1em;
        }
            
        #content table th {
            width: auto;
            text-align: center;
            vertical-align: middle;
           
        }
    #content tr {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #content a {
        font-size: 1.3em;
        color: floralwhite;
        text-decoration: none;
        padding: .5em .4em .5em .4em;
        background-color: #ffb841;
        height: 3em;
        
    }
#content a:hover {
    background-color: Silver;
}

#content a.selected {
    background-color: #353535;
    color: white;
}

    .maincontent#content input[type=submit] {
        color: floralwhite;
        text-decoration: none;
        padding: .5em .4em .5em .4em;
        background-color: #ffb841;
    }
#categories {
    float: left;
    width: 8em;
    padding: .3em;
}
div.cage {
    float: left;
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    padding-top: .3em;
    
    display:block;
}

div.cage form {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left:40%;
    padding-top: 3em;
}

    div.cage input {
        font: 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: .6em;
        color: Black;
        border-bottom: 1px solid silver;
    }

.div.ordercage {
    float: left;
    width: 8em;
    padding: .3em;
}
div.ordercage table {
    border-spacing: 2em 1em;
}
div.ordercage form {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.ordercage tr td {
   width: 20%;
   height: 2.4em;
}

div.ordercage input {
    font: 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: .6em;
    color: Black;
    border-bottom: 1px solid silver;
}
div.item {
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}

    div.item:first-child {
        border-top: none;
        padding-top: 0;
    }

    div.item h3 {
        font-size: 1.3em;
        margin: 0 0 .25em 0;
    }

    div.item h4 {
        font-size: 1.1em;
        margin: .4em 0 0 0;
    }

div.pager {
    text-align: right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 1em;
}

    div.pager a {
        font-size: 1.1em;
        color: #666;
        text-decoration: none;
        padding: 0 .4em 0 .4em;
    }

        div.pager a:hover {
            background-color: Silver;
        }

        div.pager a.selected {
            background-color: #353535;
            color: white;
        }

#categories a {
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
    display: block;
    text-decoration: none;
    padding: .6em;
    color: Black;
    border-bottom: 1px solid silver;
}

    #categories a.selected {
        background-color: #ffb841;
        color: floralwhite
    }

    #categories a:hover {
        background-color: #CCC;
    }

    #categories a.selected:hover {
        background-color: #666;
    }
.parsedItem a {
        font-size: 1.3em;
        color: floralwhite;
        text-decoration: none;
        padding: .5em .4em .5em .4em;
        background-color: #00ade2;
        height: 3em;   
    }
.parsedItem a:hover {
    background-color: Silver;
}

.parsedItem a.selected {
    background-color: #353535;
    color: white;
}

